<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
       xmlns:f="http://xmlns.jcp.org/jsf/core"
	   xmlns:h="http://xmlns.jcp.org/jsf/html"
	   xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	   xmlns:jsf="http://xmlns.jcp.org/jsf"
	   xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	   xmlns:p="http://primefaces.org/ui">

	
	<h:head>.....WELCOME #{loginBean.employee.firstName} #{loginBean.employee.lastName}...
	</h:head>
	<h:body>
	<h:form  id="form2">
	
		<h:commandButton id="btnlogout" action="#{loginBean.doLogout()}" value="logout" />
	<h:message for="btnlogout"/>

	<br/>

		<h:selectOneMenu value="#{loginBean.selectedDeviceId}" >
			<f:selectItems value="#{loginBean.allDevices}" 
				var="device" itemValue="#{device.uniqueIdentifier}" 
				itemLabel="#{device}" />
		</h:selectOneMenu>
		
		<h:selectOneMenu value="#{loginBean.selectedEmployeId}" >
			<f:selectItems value="#{loginBean.allEmployees}" 
				var="employe" itemValue="#{employe.matricule}" 
				itemLabel="#{employe}" />
		</h:selectOneMenu>
		
		<h:commandButton id="btn" action="#{loginBean.affecterDeviceAEmploye()}" value="Affecter" />
		
	<br/>
	
		</h:form>
	
	<ui:include src="/template/footer.xhtml" />
	 </h:body>
</html>