<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
       xmlns:f="http://xmlns.jcp.org/jsf/core"
	   xmlns:h="http://xmlns.jcp.org/jsf/html"
	   xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	   xmlns:jsf="http://xmlns.jcp.org/jsf"
	   xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	   xmlns:p="http://primefaces.org/ui">

	<h:head>
	<ui:include src="/template/header.xhtml" />
	<title>Bonjour Esprit</title></h:head>
	<h:body>
	<h:form id="form">
	<h:panelGrid columns="2">
	<h:outputText value="login (matricule)" />
	<h:inputText value="#{loginBean.login}" />
	<h:outputText value="password" />
	<h:inputSecret value="#{loginBean.password}" />
	<h:commandButton id="btn" action="#{loginBean.doLogin()}" value="login" />
	<h:message for="btn"/>
	</h:panelGrid>
	
	</h:form>
	<ui:include src="/template/footer.xhtml" />
	 </h:body>
</html>